/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";


a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog > mat-dialog-container {
  background-color: hsla(0, 0%, 0%, 1)
}


.timepicker-overlay{

}

.timepicker-overlay {
  z-index: 100000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 100000000 !important;
}


::ng-deep .mat-select-panel.example-long-panel {
  max-height: 500px;
}

.input{
   background:black !important;
   color: white !important;
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 45px !important;
  overflow: hidden !important;
}

.timepicker__body{
  background-color: black !important;
}

.timepicker__actions{
    background-color:black !important;
}
  .timepicker__actions[_ngcontent-ng-cli-universal-c10] {
    /* background-color: var(--body-background-color); */
  }

.mat-form-field-infix {
  color: white !important;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  color: white !important;
  width: 180px;
}

.mat-datepicker-content{
    background: black !important;
}

.cal-month-view {
  background: rgba(126, 103, 207,0.7) !important;
}

.cal-week-view {
  background: rgba(126, 103, 207,0.7) !important;
  overflow:auto !important;
}

.cal-month-view {
  background: rgba(126, 103, 207,0.5) !important;
  height: 93vh !important;
}

.cal-header {
  color: white !important;
}

.cal-month-view .cal-cell-row .cal-cell:hover, .cal-month-view .cal-cell.cal-has-events.cal-open {
  background-color: rgba(129, 152, 48,0.9) !important;
}

.cal-month-view .cal-open-day-events {
 
  background-color: rgba(0, 0, 0, 0.5) !important;

}

.cal-week-view .cal-header.cal-today {
  background-color: rgba(126, 103, 207,0.2) !important;
}
