<h3 mat-dialog-title color="accent">
  <button mat-icon-button color="warn" (click)="dialog.closeAll()">
    <mat-icon>cancel</mat-icon>
    Dodawanie
  </button>
</h3>

<form #medAddForm="ngForm" (submit)="addMed()">

  <div style="width: 50%; float:left">

    <mat-form-field>
      <input [(ngModel)]="model.med_category" name="med_category" type="text" matInput placeholder="Kategoria" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="model.med_dosage_freq" name="med_dosage_freq" type="text" matInput placeholder="Dawka podawania" required>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="model.med_description" name="med_description" type="text" matInput placeholder="Podsumowanie" required>
    </mat-form-field>
  </div>

  <div style="width: 50%; float:right">

    <mat-form-field>
      <input [matDatepicker]="picker" [(ngModel)]="model.med_start_date" name="med_start_date" matInput placeholder="Data podania lekarstwa" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input [matDatepicker]="picker2" [(ngModel)]="model.med_end_date" name="med_end_date" matInput placeholder="Data zakończenia" required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>



    <div mat-dialog-content>
      <mat-form-field>
        <mat-select [(ngModel)]="model.med_name" name="med_name">
          <mat-option *ngFor="let med of medicament" [value]="med.dic_meds_name">
            {{med.dic_meds_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button [disabled]="!medAddForm.valid" type="submit" mat-stroked-button color="accent" cdkFocusInitial>Dodaj</button>
      <button mat-stroked-button color="warn" type="button" (click)="dialog.closeAll()"><mat-icon>cancel</mat-icon>Nie dziękuje</button>
    </div>
  </div>


</form>


