<app-nav-menu></app-nav-menu>
<body>
  <div class="area">


    <button mat-stroked-button color="accent" type="submit" (click)="openDialogAdd()">Dodaj<mat-icon>add</mat-icon></button>
    <button mat-stroked-button color="accent" type="submit" (click)="refresh()">Odśwież<mat-icon>refresh</mat-icon></button>
    <button mat-stroked-button color="accent" type="submit">Export <mat-icon>cloud_download</mat-icon></button>
    <button mat-stroked-button color="accent" style="float:right;">Zakładka zwięrzęta</button>




    <div class="card-area">


      <div *ngFor="let pet of getAnimal " class="cards">
        <div class="multi-button">
          <button (click)="redirectToVisit(pet.id)" class="fa fa-folder-open"></button>
          <button (click)="openDialogDelete(pet.id)" class="fa fa fa-ban"></button>
        </div>
        <div class="container">
          <img src="https://image.flaticon.com/icons/png/512/194/194626.png" alt="Avatar" style="width:100px; float: left; margin-top:10%;">
          <b>ID: {{pet.id}}</b>
          <br />
          <b>TYP: {{pet.pet_breed}}</b>
          <br />
          <b>Kolor: {{pet.pet_color}}</b>
          <br />
          <b>Data urodzenia: {{pet.pet_dob}}</b>
          <br />
          <b>Imie: {{pet.pet_name}}</b>
          <br />
          <b>Płeć: {{pet.pet_sex}}</b>
          <br />
          <b>Gatunek: {{pet.pet_species}}</b>
        </div>
      </div>
    </div>
  </div>
</body>
