<app-nav-menu></app-nav-menu>
<body>
  <div class="area">


    <button mat-stroked-button color="accent" type="submit" (click)="openDialogAdd()">Dodaj<mat-icon>add</mat-icon></button>
    <button mat-stroked-button color="accent" type="submit" (click)="refresh()">Odśwież<mat-icon>refresh</mat-icon></button>
    <button mat-stroked-button color="accent" type="submit">Export <mat-icon>cloud_download</mat-icon></button>
    <button mat-stroked-button color="accent" style="float:right;">Zakładka zwięrzęta</button>




    <div class="card-area">
      <div class="cards">
        <div class="multi-button">
          <button class="fa fa-folder-open"></button>
          <button class="fa fa fa-ban"></button>
        </div>
        <div class="container">
          <img src="https://image.flaticon.com/icons/png/512/194/194626.png" alt="Avatar" style="width:100px; float: left; margin-top:10%;">
          <b>ID: 31</b>
          <br />
          <b>TYP: Kot</b>
          <br />
          <b>IMIE: Fileon</b>
          <br />
          <b>RASA: -</b>
          <br />
        </div>
      </div>

      <div class="cards">
        <div class="multi-button">
          <button class="fa fa-folder-open"></button>
          <button class="fa fa fa-ban"></button>
        </div>
        <div class="container">
          <img src="https://image.flaticon.com/icons/png/512/194/194626.png" alt="Avatar" style="width:100px; float: left; margin-top:10%;">
          <b>ID: 31</b>
          <br />
          <b>TYP: Kot</b>
          <br />
          <b>IMIE: Fileon</b>
          <br />
          <b>RASA: -</b>
          <br />
        </div>
      </div>

      <div class="cards">
        <div class="multi-button">
          <button class="fa fa-folder-open"></button>
          <button class="fa fa fa-ban"></button>
        </div>
        <div class="container">
          <img src="https://image.flaticon.com/icons/png/512/194/194626.png" alt="Avatar" style="width:100px; float: left; margin-top:10%;">
          <b>ID: 31</b>
          <br />
          <b>TYP: Kot</b>
          <br />
          <b>IMIE: Fileon</b>
          <br />
          <b>RASA: -</b>
          <br />
        </div>
      </div>

      <div class="cards">
        <div class="multi-button">
          <button class="fa fa-folder-open"></button>
          <button class="fa fa fa-ban"></button>
        </div>
        <div class="container">
          <img src="https://image.flaticon.com/icons/png/512/194/194626.png" alt="Avatar" style="width:100px; float: left; margin-top:10%;">
          <b>ID: 31</b>
          <br />
          <b>TYP: Kot</b>
          <br />
          <b>IMIE: Fileon</b>
          <br />
          <b>RASA: -</b>
          <br />
        </div>
      </div>
      <div class="cards">
        <div class="multi-button">
          <button class="fa fa-folder-open"></button>
          <button class="fa fa fa-ban"></button>
        </div>
        <div class="container">
          <img src="https://image.flaticon.com/icons/png/512/194/194626.png" alt="Avatar" style="width:100px; float: left; margin-top:10%;">
          <b>ID: 31</b>
          <br />
          <b>TYP: Kot</b>
          <br />
          <b>IMIE: Fileon</b>
          <br />
          <b>RASA: -</b>
          <br />
        </div>
      </div>
    </div>
  </div>
</body>
