
  <nav class="main-menu">
    <ul>
      <li class="has-subnav">
        <a routerLink="/head" routerLinkActive="active">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Strona Główna
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/head" routerLinkActive="active">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Klienci
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/visits" routerLinkActive="active">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text">
            Wizyty
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/dicmed" routerLinkActive="active">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Produkty
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/dicservice" routerLinkActive="active">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Usługi
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/dicvacine" routerLinkActive="active">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Szczepienia
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/vet" routerLinkActive="active">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Lekarze
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-table fa-2x"></i>
          <span class="nav-text">
            Zadania
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info fa-2x"></i>
          <span class="nav-text">
            Ustawienia profulu
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Wyloguj
          </span>
        </a>
      </li>
   
    </ul>
  </nav>
