
<body>
  <div class="login-form-flex">
    <form #loginForm="ngForm" (submit)="login()">
      <mat-card>
        <mat-card-title>
          <img src="https://cdn2.iconfinder.com/data/icons/agriculture-business-1/512/xxx002-512.png" alt="Avatar">
          <br />

        </mat-card-title>

        <mat-card-content>
          <mat-form-field>
            <input [(ngModel)]="model.username" name="username" type="text" matInput placeholder="Login" required>
          </mat-form-field>
          <br /><br />
          <mat-form-field>
            <input [(ngModel)]="model.password" name="password" type="password" matInput placeholder="Hasło" required>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <div class="button-flex-container">
            <button [disabled] ="!loginForm.valid" mat-stroked-button color="accent" type="submit">Logowanie</button>
          </div>
        </mat-card-actions>

      </mat-card>
    </form>
  </div>

</body>

