
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">



      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://st3.depositphotos.com/6935094/12490/v/950/depositphotos_124905844-stock-illustration-logo-veterinary-clinic.jpg" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form class="example-form">
        <mat-form-field class="example-full-width" color="accent">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login">
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width" color="accent">
          <mat-label>Hasło</mat-label>
          <input matInput placeholder="Hasło">
        </mat-form-field>
        <br />
        <button mat-stroked-button color="accent">Logowanie</button>
        <br />
      </form>



    </div>
  </div>
</body>
