
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">



      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://www.flaticon.com/svg/static/icons/svg/1801/1801662.svg" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form class="example-form">
        <mat-form-field class="example-full-width" color="accent">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login">
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width" color="accent">
          <mat-label>Hasło</mat-label>
          <input matInput placeholder="Hasło">
        </mat-form-field>
        <br />
        <button mat-stroked-button color="accent">Logowanie</button>
        <br />
      </form>



    </div>
  </div>
</body>
